@use "vars";
@use "hero";
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

@mixin text-setup($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
    color: vars.$color-text-primary;
}

@mixin title-setup($font-size: 40px) {
    @include text-setup($font-size);
    color: vars.$color-text-secondary;
}

@font-face {
    font-family: Avenir;
    src: url("../../assets/fonts/Avenir-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url("../../assets/fonts/Avenir-Bold.woff2");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style-type: none;
}

.text--large {
    @include text-setup(18px);

    @media screen and (max-width: 767px) {
        @include text-setup(15px);
    }
}

.text {
    @include text-setup();

    @media screen and (max-width: 767px) {
        @include text-setup(14px);
    }
}

.text--small {
    @include text-setup(12px);

    @media screen and (max-width: 767px) {
        @include text-setup(11px);
    }
}

.title--large {
    @include title-setup(44px);

    @media screen and (max-width: 767px) {
        @include title-setup(26px);
    }
}

.title {
    @include title-setup();

    @media screen and (max-width: 767px) {
        @include title-setup(24px);
    }
}

.title--small {
    @include title-setup(28px);

    @media screen and (max-width: 767px) {
        @include title-setup(22px);
    }
}

.link-text {
    @include text-setup(18px);
    color: vars.$color-text-secondary;
    text-decoration: underline;
}

.button {
    @mixin set-bg-and-border-colors($color, $bg-opacity: 1) {
        background-color: rgba($color, $bg-opacity);
        border-color: $color;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: vars.$color-text-secondary;
    border: 1px solid;
    @include set-bg-and-border-colors(vars.$color-button-primary);
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        background-color: lighten(vars.$color-button-primary, 3%);
    }
    
    &--secondary {
        @include set-bg-and-border-colors(vars.$color-button-secondary);

        &:hover {
            background-color: lighten(vars.$color-button-secondary, 3%);
        }
    }
    
    &--dark {
        background-color: rgba(vars.$color-button-dark, 0.8);
        border-color: vars.$color-text-secondary;

        &:hover {
            background-color: vars.$color-text-secondary;
            color: vars.$color-background;
        }
    }
}

.image-beside-text {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__text-container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text-container {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(50% - 5.6vw);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 767px) {
                position: relative;
                left: 0;
                width: 100%;
            }        
        }
    }
}

body {
    background-color: vars.$color-background;
}